<!-- CODE -->
<div class="panel panel-code" role="tablist">
 <button aria-controls="collapsePanel" aria-expanded="false"
  class="btn btn-unstyled panel-header panel-header-link collapse-icon collapse-icon-middle collapsed"
  data-target="#codestep1" data-toggle="collapse" role="tab">
  <span class="panel-title">Code Sample (expand to see it)</span>
  <span class="collapse-icon-closed">
   <@clay["icon"] symbol="angle-right" />
  </span>
  <span class="collapse-icon-open">
   <@clay["icon"] symbol="angle-down" />
  </span>
 </button>
 <div class="panel-collapse collapse" id="codestep1" role="tabpanel">
  <div class="box-code">
   <pre>
    <code class="language-html">
    </code>
  </pre>
  </div>
 </div>
</div>
<!-- CODE -->