.multi-step-icon {
 border-radius: 100px;
}
.navigation-step {
 list-style: none;
 display: block;
 margin: 20px 0;
 border-top: 1px solid #e7e7ed;
 padding: 20px;
}
.navigation-step:after {
 content: '';
 clear: both;
 display: block;
 width: 100%;
}
.navigation-step li.prev {
 float: left;
}
.navigation-step li.next {
 float: right;
}
.navigation-step li .lexicon-icon {
 width: 0.8em;
}
.box-input .form-group {
 position: relative;
}
.box-input .form-group .select2-container {
 width: 100% !important;
}
.select2-container .select2-selection--single {
 height: 2.375rem;
 line-height: 2.375rem;
 border-color: #ced4da;
}
.select2-container .select2-selection--single .select2-selection__rendered {
 height: 2.375rem;
 line-height: 2.375rem;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
 top: 7px;
}
input.select2-search__field:focus-visible {
 outline: none;
}
.box-input.type-textarea .form-control {
 resize: none;
 height: 125px;
}
.form-group.box-input.type-radio .box-radio .radio-with-text {
 display: flex;
}
.form-group.box-input.type-radio .box-radio .radio-with-text .custom-control-inline label {
 position: relative;
 top: 5px;
}
.form-group.box-input.type-radio .box-radio .radio-with-text .custom-control-inline:last-child .box-input {
 margin-left: 10px;
}
.box-input-doc {
 margin-bottom: 20px;
}
.box-input-doc .box-input-doc-inner {
 display: flex;
}
.box-input-doc .box-input-doc-inner .box-label {
 flex: 1;
}
.box-input-doc .box-input-doc-inner .box-label h3 {
 font-weight: normal;
 font-family: "SourceSans-Semibold";
 font-size: 18px;
}
.box-input-doc .box-input-doc-inner .box-label .info-summary {
 font-size: 12px;
}
.box-input-doc .box-input-doc-inner .box-input-file {
 flex: 1;
 padding-left: 40px;
 border: 2px dashed #cccccc;
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 -ms-border-radius: 8px;
 -o-border-radius: 8px;
 border-radius: 8px;
 cursor: pointer;
 overflow: hidden;
 position: relative;
}
.box-input-doc .box-input-doc-inner .box-input-file:hover {
 border-color: #494df4;
}
.box-input-doc .box-input-doc-inner .box-input-file .form-group.input-text-wrapper {
 position: relative;
 z-index: 2;
}
.box-input-doc .box-input-doc-inner .box-input-file input[type="file"] {
 transform: scale(20);
 opacity: 0;
 cursor: pointer;
 z-index: 2;
 margin-top: 20px;
 position: relative;
}
.box-input-doc .box-input-doc-inner .box-input-file .box-label {
 width: 100%;
 text-align: center;
 position: absolute;
 color: #494df4;
 top: 50%;
 left: 50%;
 -webkit-transform: translate(-50%, -50%);
 -moz-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 -o-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 font-size: 16px;
 font-family: "SourceSans-Semibold";
}
.box-input-doc .box-input-doc-inner .box-input-file .box-label i,
.box-input-doc .box-input-doc-inner .box-input-file .box-label .fas,
.box-input-doc .box-input-doc-inner .box-input-file .box-label .fa {
 margin-right: 10px;
}
.box-input-doc .box-input-doc-inner {
 display: block;
}
.box-input-doc .box-input-doc-inner .box-label {
 margin-bottom: 20px;
}
.box-input-doc .box-input-doc-inner .box-input-file.has-image .box-label {
 margin-bottom: 0;
}
.box-input-doc .box-input-doc-inner .box-input-file.has-image {
 height: 200px;
}
.box-input-doc .box-input-doc-inner .box-input-file.has-image .box-img-cover {
 width: 90%;
 height: 180px;
 position: absolute;
 top: 50%;
 left: 50%;
 -webkit-transform: translate(-50%, -50%);
 -moz-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 -o-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 background-size: cover;
}
.box-input-doc .box-input-doc-inner .box-input-file.has-image .box-label {
 background: rgba(0, 0, 0, 0.7);
 color: #ffffff;
 padding: 5px;
 top: initial;
 left: 0;
 transform: none;
 bottom: 0;
 width: 100%;
 text-align: center;
}
.modal-body {
 height: 70vh;
 overflow-y: auto;
}
/* otp */
.box-otp {
 max-width: 420px;
 margin: 2rem auto;
}
@media (max-width: 500px) {
 .box-otp {
   max-width: auto;
 }
}
@media (max-width: 500px) {
 .box-otp .alert {
   font-size: 13px;
 }
 .box-otp .alert .alert-indicator {
   font-size: 1rem;
 }
}
.box-otp .box-form input::-webkit-outer-spin-button,
.box-otp .box-form input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}
.box-otp .box-form .digit-group {
 display: flex;
 align-items: center;
}
.box-otp .box-form .digit-group .splitter {
 text-align: center;
}
.box-otp .box-form .digit-group .splitter {
 flex: 0 0 auto;
 margin-right: 10px;
 max-width: 15px;
 padding: 0;
}
.box-otp .box-form .digit-group .digit {
 flex: 1;
 margin-right: 10px;
 margin-bottom: 0;
}
.box-otp .box-form .digit-group .digit.form-control {
 padding: 0;
 height: 69px !important;
 appearance: none;
 text-align: center;
 font-size: 25px;
}
@media (max-width: 767px) {
 .box-otp .box-form .digit-group .digit.form-control {
   font-size: 16px;
   height: 54px !important;
 }
}
.box-otp .box-form .digit-group .digit:last-child {
 margin-right: 0;
}
.box-otp .box-form .box-act {
 margin-top: 30px;
}
.box-otp .box-form .box-act .btn {
 -webkit-border-radius: 30px;
 -moz-border-radius: 30px;
 -ms-border-radius: 30px;
 -o-border-radius: 30px;
 border-radius: 30px;
 font-weight: normal;
 font-size: 18px;
 display: block;
 width: 100%;
 max-width: 228px;
 margin: 0 auto;
 -moz-transition: all 0.3s ease-in-out;
 -o-transition: all 0.3s ease-in-out;
 -webkit-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
 padding-top: 12px;
 padding-bottom: 12px;
}
.box-otp .box-form .box-notes {
 margin-top: 20px;
}