<div class="panel panel-default">
  <aui:form name="fm" method="post" action="" enctype="multipart/form-data">
    <div class="panel-body pt-4">
      <ol class="multi-step-nav multi-step-nav-collapse-sm multi-step-indicator-label-top">

        <li class="active multi-step-item multi-step-item-expand">
          <div class="multi-step-divider"></div>
          <div class="multi-step-indicator">
            <div class="multi-step-indicator-label">Step 01</div>
            <a class="multi-step-icon" data-multi-step-icon="1" href="javascript:void(0)"></a>
          </div>
        </li>
        <li class="disabled multi-step-item multi-step-item-expand">
          <div class="multi-step-divider"></div>
          <div class="multi-step-indicator">
            <div class="multi-step-indicator-label">Step 02</div>
            <a class="multi-step-icon" data-multi-step-icon="2" href="javascript:void(0)"></a>
          </div>
        </li>
        <li class="disabled multi-step-item">
          <div class="multi-step-divider"></div>
          <div class="multi-step-indicator">
            <div class="multi-step-indicator-label">Step 3</div>
            <a class="multi-step-icon" data-multi-step-icon="3" href="javascript:void(0)"></a>
          </div>
        </li>
      </ol>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group box-input type-radio">
            <div clas="box-radio">
              <label class="control-label d-block">&nbsp;</label>
              <clay:radio checked=true label="Pendaftaran Baru Individu" name="daftar-baru" inline=true />
              <clay:radio label="Pendaftaran Baru Badan Hukum" name="daftar-baru" inline=true />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-input">
            <aui:input name="nomor-dplk" label="Nomor DPLK" />
          </div>
        </div>

      </div>
      <div class="row mb-4">
        <div class="col-md-6">
          <div class="box-input">
            <aui:input name="nama-fa" label="Nama FA" />
          </div>
          <div class="box-input">
            <aui:input name="kode-fa" label="Kode FA" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-input">
            <aui:input name="nama-lg" label="Kode LG" />
          </div>
          <div class="box-input">
            <aui:input name="kode-cabang" label="Kode Cabang" />
          </div>
        </div>
      </div>
    </div>
  </aui:form>

  <ul class="navigation-step">

    <li class="navigation-item next">
      <clay:button label="Selanjutnya" style="primary" />
    </li>
  </ul>
</div>