<div class="row mb-4">
 <div class="col-md-12">
  <div class="panel panel-default">
   <aui:form name="fm" method="post" action="" enctype="multipart/form-data">
    <div class="panel-body pt-4">
     <ol class="multi-step-nav multi-step-nav-collapse-sm multi-step-indicator-label-top">

      <li class="complete multi-step-item multi-step-item-expand">
       <div class="multi-step-divider"></div>
       <div class="multi-step-indicator">
        <div class="multi-step-indicator-label">Step 01</div>
        <a class="multi-step-icon" data-multi-step-icon="1" href="javascript:void(0)"></a>
       </div>
      </li>
      <li class="active multi-step-item multi-step-item-expand">
       <div class="multi-step-divider"></div>
       <div class="multi-step-indicator">
        <div class="multi-step-indicator-label">Step 02</div>
        <a class="multi-step-icon" data-multi-step-icon="2" href="javascript:void(0)"></a>
       </div>
      </li>
      <li class="disabled multi-step-item">
       <div class="multi-step-divider"></div>
       <div class="multi-step-indicator">
        <div class="multi-step-indicator-label">Step 3</div>
        <a class="multi-step-icon" data-multi-step-icon="3" href="javascript:void(0)"></a>
       </div>
      </li>
     </ol>

    </div>
    <div class="panel-heading">
     Data Umum
    </div>
    <div class="panel-body pt-4">
     <div class="row mb-4">
      <div class="col-md-6">
       <div class="box-input">
        <aui:input name="nama-lengkap" label="Nama lengkap" />
       </div>
       <div class="box-input">
        <aui:input name="tempat-lahir" label="Tempat Lahir" />
       </div>
       <div class="row">
        <div class="col-md-6">
         <div class="box-input type-date">
          <aui:input label="Birth Date" name="birthDate" type="text" cssClass="flat-date"
           helpMessage="Jangan salah pilih tanggal" />
         </div>
        </div>
        <div class="col-md-6">
         <div class="form-group box-input type-radio">
          <div clas="box-radio">
           <label class="control-label d-block">Jenis Kelamin</label>
           <clay:radio checked=true label="Laki-laki" name="jk" inline=true />
           <clay:radio label="Perempuan" name="jk" inline=true />
          </div>
         </div>
        </div>
       </div>
       <div class="box-input">
        <aui:input name="nomor-ktp" label="Nomor KTP/KITAS" />
       </div>
       <div class="box-input type-file">
        <aui:input label="File KTP/KITAS" name="file" type="file" accept="image/jpg, image/jpeg, image/png"
         required=true helpMessage="Hanya terima masukan gambar atau pdf dengan maksimum 1MB">
         <aui:validator name="acceptFiles" errorMessage="only-accept-image-or-pdf">'jpg,png,tif,jpeg,pdf'
         </aui:validator>
        </aui:input>


       </div>
       <div class="row">
        <div class="col-md-6">
         <div class="box-input type-date">
          <aui:input label="Berlaku Hingga" name="expired" type="text" cssClass="flat-date"
           helpMessage="Format : YYYY-MM-DD" />
         </div>
        </div>
        <div class="col-md-6">
         <div class="form-group box-input type-checkbox">
          <div clas="box-checkbox">
           <label class="control-label d-block">&nbsp;</label>
           <clay:checkbox label="Seumur Hidup" name="seumur-hidup" />
          </div>
         </div>
        </div>
       </div>
       <div class="box-input type-number">
        <aui:input type="text" required=true name="home-phone" label="Nomor Telepon Rumah">
         <aui:validator name="rangeLength" errorMessage="Please Enter 11 digit's">[11,11]</aui:validator>
         <aui:validator name="digits" />
        </aui:input>
       </div>
       <div class="box-input type-number">
        <aui:input type="text" required=true name="phone" label="Nomor Telepon Seluler">
         <aui:validator name="rangeLength" errorMessage="Please Enter 11 digit's">[11,11]</aui:validator>
         <aui:validator name="digits" />
        </aui:input>
       </div>
       <div class="box-input type-select">
        <aui:select label="Status Pernikahan" name="status" cssClass="select2">
         <aui:option value="" label="Select Status" />
         <aui:option value="1" label="Tidak Menikah" />
         <aui:option value="2" label="Menikah" />
         <aui:option value="3" label="Cerai" />
        </aui:select>
       </div>
       <div class="box-input">
        <aui:input label="Nama Gadis Ibu Kandung" name="nama-ibu" type="text" />
       </div>
       <div class="box-input type-email">
        <aui:input label="Alamat Email" name="email" type="email" />
       </div>

       <div class="box-input type-date">
        <aui:input label="Tanggal Mulai Bekerja" name="tgl-bekerja" type="text" cssClass="flat-date"
         helpMessage="Format : YYYY-MM-DD" />
       </div>
      </div>


      <div class="col-md-6">
       <div class="box-input type-textarea">
        <aui:input type="textarea" label="Alamat Rumah sesuai KTP/KITAS" name="alamat-rumah" />
       </div>
       <div class="box-input type-select">
        <aui:select label="Kota" name="kota" cssClass="select2">
         <aui:option value="" label="Select Kota" />
         <aui:option value="1" label="Bogor" />
         <aui:option value="2" label="Jakarta" />
         <aui:option value="3" label="Tanggerang" />
        </aui:select>
       </div>
       <div class="box-input type-select">
        <aui:select label="Provinsi" name="provinsi" cssClass="select2">
         <aui:option value="" label="Select Kota" />
         <aui:option value="1" label="DKI Jakarta" />
         <aui:option value="2" label="Jawa Barat" />
         <aui:option value="3" label="Jawa Timur" />
        </aui:select>

       </div>
       <div class="row">
        <div class="col-md-4 type-number">
         <div class="box-input">
          <aui:input type="number" label="Kode Pos" name="kode-pos" />
         </div>
        </div>
        <div class="col-md-8">
         <div class="form-group box-input type-checkbox">
          <div clas="box-checkbox">
           <label class="control-label d-block">&nbsp;</label>
           <clay:checkbox label="Jadikan sebagai alamat Surat Menyurat" name="surat-menyurat" />
          </div>
         </div>
        </div>
       </div>
       <div class="box-input type-select">
        <aui:select label="Pekerjaan" name="Pekerjaan" cssClass="select2">
         <aui:option value="" label="Select Pekerjaan" />
         <aui:option value="1" label="Tetap" />
         <aui:option value="2" label="Kontrak" />
         <aui:option value="3" label="Honorer" />
         <aui:option value="4" label="Paruh waktu" />
         <aui:option value="5" label="Lainnya" />
        </aui:select>
       </div>
       <div class="box-input type-select">
        <aui:select label="Pekerjaan Sekarang" name="Pekerjaan-sekarang" cssClass="select2">
         <aui:option value="" label="Select Pekerjaan" />
         <aui:option value="1" label="Peg.Swasta" />
         <aui:option value="2" label="TNI/Polri" />
         <aui:option value="3" label="Ibu Rumah Tangga" />
         <aui:option value="4" label="PNS/BUMN" />
         <aui:option value="5" label="Wiraswasta" />
         <aui:option value="6" label="Lainnya" />
        </aui:select>
       </div>
       <div class="box-input type-textarea">
        <aui:input type="textarea" label="Alamat Tempat Tinggal sekarang" name="alamat-sekarang"
         helpMessage="jika alamat tidak sesuai KTP/KITAS" />
       </div>
       <div class="box-input type-select">
        <aui:select label="Kota" name="kota-sekarang" cssClass="select2">
         <aui:option value="" label="Select Kota" />
         <aui:option value="1" label="Bogor" />
         <aui:option value="2" label="Jakarta" />
         <aui:option value="3" label="Tanggerang" />
        </aui:select>
       </div>
       <div class="box-input type-select">
        <aui:select label="Provinsi" name="provinsi-sekarang" cssClass="select2">
         <aui:option value="" label="Select Kota" />
         <aui:option value="1" label="DKI Jakarta" />
         <aui:option value="2" label="Jawa Barat" />
         <aui:option value="3" label="Jawa Timur" />
        </aui:select>
       </div>
       <div class="row">
        <div class="col-md-4 type-number">
         <div class="box-input">
          <aui:input type="number" label="Kode Pos" name="kode-pos-sekarang" />
         </div>
        </div>
        <div class="col-md-8">
         <div class="form-group box-input type-checkbox">
          <div clas="box-checkbox">
           <label class="control-label d-block">&nbsp;</label>
           <clay:checkbox label="Jadikan sebagai alamat Surat Menyurat" name="surat-menyurat-sekarang" />
          </div>
         </div>
        </div>
       </div>

      </div>

     </div>
     <div class="row">
      <div class="col-md-12">
       <div class="form-group box-input type-radio">
        <div clas="box-radio">
         <label class="control-label d-block">Apakah Calon Peserta melakukan pelaporan pajak di luar
          Negara Indonesia?</label>
         <clay:radio checked=true label="Ya" name="lapor-pajak" inline=true />
         <clay:radio label="Tidak" name="lapor-pajak" inline=true />
        </div>
       </div>
       <div class="alert alert-warning" role="alert">
        Bila "Ya" maka isi Formulir DEKLARASI DIRI (Individu/BADAN HUKUM) TERKAIT PERPAJAKAN KEPADA NEGARA
        MITRA dan khusus untuk Warga Amerika Serikat (USA) maka wajib mengisi Formulir W-9
       </div>

      </div>
      <div class="col-md-6">
       <div class="box-input">
        <aui:input type="text" label="Mohon cantumkan TIN (Taxpayer Identification Number)" name="TIN" />
       </div>
      </div>
     </div>

    </div>

   </aui:form>

   <ul class="navigation-step">
    <li class="navigation-item prev">
     <clay:button label="Kembali" style="secondary" />
    </li>
    <li class="navigation-item next">
     <clay:button label="Selanjutnya" style="primary" />
    </li>
   </ul>
  </div>

 </div>
</div>

<script type="text/javascript">
 $(document).ready(function () {
  //Function for datepicker
  $(".flat-date").flatpickr();

  //Function for select2 combobox
  $('.select2').select2();

  //Function upload file
  $('.box-input-file').each(function () {
   var fileini = $(this);
   var fileinput = $(this).find("input[type=file]");
   var boximgpreview = $(this).find(".box-img-cover");
   var boxlabel = $(this).find(".box-label");
   function readURL(input) {
    if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.fileName = input.files[0].name
     reader.onload = function (e) {
      // console.log(e);
      var name_img = e.target.fileName;
      var ext = name_img.substring(name_img.lastIndexOf('.') + 1, name_img.length) || name_img;
      // console.log(ext);

      if (ext == "jpg" || ext == "png" || ext == "jpeg" || ext == "JPG" || ext == "JPEG" || ext == "PNG") {
       $(fileini).addClass("has-image");
       $(boximgpreview).css('background-image', 'url(' + e.target.result + ')');
       $(boxlabel).html(name_img);
       $(boximgpreview).hide();
       $(boximgpreview).fadeIn(650);
      } else {
       $(fileini).removeClass("has-image");
       $(boximgpreview).attr("style", "");
       $(boxlabel).html(name_img);
       $(boximgpreview).hide();

      }
     }
     reader.readAsDataURL(input.files[0]);
    }
   }

   $(fileinput).change(function () {
    readURL(this);
   });

  });
 });
</script>