<div class="row mb-4">
 <div class="col-md-12">
  <div class="panel panel-default">
   <aui:form name="fm" method="post" action="" enctype="multipart/form-data">
    <div class="panel-heading">Kode OTP</div>
    <div class="panel-body pt-4">
     <div class="box-otp">
      <div class="alert alert-warning" role="alert">
       <span class="alert-indicator">
        <clay:icon symbol="info-circle" />
       </span>
       Silakan periksa SMS untuk mendapatkan kode OTP
      </div>

      <div class="box-form">
       <div class="digit-group" data-group-name="digits">
        <input type="number" class="form-control digit" id="digit-1" name="digit-1" data-next="digit-2" />
        <input type="number" class="form-control digit" id="digit-2" name="digit-2" data-next="digit-3"
         data-previous="digit-1" />
        <input type="number" class="form-control digit" id="digit-3" name="digit-3" data-next="digit-4"
         data-previous="digit-2" />
        <span class="splitter"></span>

        <input type="number" class="form-control digit" id="digit-4" name="digit-4" data-next="digit-5"
         data-previous="digit-3" />
        <input type="number" class="form-control digit" id="digit-5" name="digit-5" data-next="digit-6"
         data-previous="digit-4" />
        <input type="number" class="form-control digit" id="digit-6" name="digit-6" data-previous="digit-5" />
       </div>
       <div class="box-act text-center one">
        <aui:button cssClass="btn cx-btn btn-lg btn-round btn-primary" name="submit-otp" value="KIRIM" />
       </div>
       <div class="box-notes text-center">
        Tidak menerima kode OTP? <a href="">Kirim ulang</a>
       </div>
      </div>
     </div>
    </div>
   </aui:form>
  </div>

 </div>
</div>

<script type="text/javascript">
 $(document).ready(function () {
  //function otp
  $('.digit-group').find('input').each(function () {
   $(this).attr('maxlength', 1);
   $(this).on('keyup', function (e) {
    var parent = $($(this).parent());

    if (e.keyCode === 8 || e.keyCode === 37) {
     var prev = parent.find('input#' + $(this).data('previous'));

     if (prev.length) {
      $(prev).select();
     }
    } else if ((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 65 && e.keyCode <= 90) || (e.keyCode >= 96 && e.keyCode <= 105) || e.keyCode === 39) {
     var next = parent.find('input#' + $(this).data('next'));

     if (next.length) {
      $(next).select();
     } else {
      if (parent.data('autosubmit')) {
       parent.submit();
      }
     }
    }
   });
  });
 });
</script>