
.login-container{
    margin:auto;
    margin-top:200px;
    margin-bottom:100px;
    width: 30%;
    border: 2px solid #0097ce;
    padding: 10px;
    border-radius:0px 0px 0px 40px;
    padding: 20px;
    transition: .5s;
    .btn-primary{
        width: 100%;
        background-color: #0097ce;
    }
    &:hover{
        background-color: rgba(16,41,53,.6);
        label{color:#fff;}
        a{
            color:#fff;
        }
        .btn-primary{
            background-color: #0097ce;
            
        }
    }
}