@import 'components/breadcrumb';
@import 'components/color';
@import 'components/group-item';
@import 'components/info-panel';
@import 'components/navbars';
@import 'components/sidebar';
@import 'components/splitter';
@import 'components/table';
@import 'components/widget';
@import 'portlet/portlet';
@import 'portlet/portlet_decorators';
@import 'portlet/portlet_hello_world';

@import 'custom_properties';
//Variables
@import "cxrus_variables";

//Genral -Component//@at-root

@import "custom_partials/has-edit-menu";
@import "custom_partials/service-panel";
@import "custom_partials/login";
//Plugins//@at-root

@import "plugins/datatable/jquery.dataTables.min.css";
@import "plugins/datatable/responsive.dataTables.min.css";
@import "plugins/datatable/dataTables.bootstrap4.min.css";


//Export origin
@import "wp/wp-custom.css";
@import "wp/wp-main.min.css";
@import "wp/plugin.min.css";
@import "wp/jssocials-theme-flat.css";
@import "wp/jssocials.css";
@import "wp/main.min.css";
@import "wp/plugins/elementor/assets/lib/eicons/css/elementor-icons.min74e5.css";
@import "wp/plugins/elementor/assets/lib/animations/animations.min2a45.css";
@import "wp/plugins/elementor/assets/css/frontend-legacy.min2a45.css";
@import "wp/plugins/elementor/assets/css/frontend.min2a45.css";
@import "wp/plugins/elementor-pro/assets/css/frontend.min521d.css";
@import "wp/plugins/elementor/assets/lib/font-awesome/css/all.min8f76.css";
@import "wp/plugins/elementor/assets/lib/font-awesome/css/v4-shims.min8f76.css";
@import "wp/plugins/gdpr-cookie-compliance/dist/styles/gdpr-main9c92.css";
@import "https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;ver=60e88d95de40c3901eeeb35ce8c236bf";
//End//

body {
    header {
        .field-wrapper {
            position: absolute;
            right: 4px;
            top: 2px;

            a {
                color: #fff;
            }
        }

        .field-wrapper,
        .form-group {
            margin-bottom: 0;
        }

        .portlet {
            margin-bottom: 0;

            &:hover {
                z-index: 1034;
            }
        }

        .search-input {
            font-size: 0.88rem;
            padding: 0.28rem 2rem 0.28rem 1rem;
        }

        .text-default {
            color: #6b6c7e;
            font-weight: 600;
        }

        .user-personal-bar {
            .fieldset {
                position: relative;
            }

            .user-avatar-link .panel-notifications-count {
                right: calc(100% - 0.75rem);
                top: -0.35rem;
            }
        }
    }

    .user-avatar-link {
        display: block;
        position: relative;

        .panel-notifications-count {
            display: block;
            margin: 0;
            max-width: none;
            position: absolute;
            right: calc(100% - 0.7rem);
            top: -0.4rem;
        }

        .text-default {
            align-items: center;
            display: flex;

            .user-full-name {
                margin-left: 0.5rem;

                @include media-breakpoint-down(xs) {
                    display: none;
                }
            }
        }
    }
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

.text-warning {
    color: #ffb200 !important;
}

.btn-group+.info-panel {
    @include media-breakpoint-up(sm) {
        top: auto;
    }
}

//Blog Menu//
.menu-blog {
    display: none;
}

.show-nav-blog {
    .blog-status {
        display: none;
    }

    .menu-blog {
        display: block;
        position: relative;
    }
}

//End blogmenu//
#footer {
    background-color: $complementary-color;
    color: #fff;
    margin-top: 1rem;

    >.container {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
}

.modal-full-screen {
    height: 84vh;
    position: absolute !important;
}

//add

//Navigation Custom//@at-root

.colsub-2 {
    @media (min-width:1200px) {
        width: 800px !important;
    }
}

.Courses {
    .lv1 {
        &:before {
            content: "THEME";
            display: block;
            //width: 400px;
            font-size: 20px;
            color: #000;
            padding: 10px;

            @media (max-width:1000px) {
                color: #fff;
            }
        }

        li {
            display: inline-block;
            width: 33%;

            @media (max-width:1199px) {
                display: inline-grid;
                width: 30%;
            }

            @media (max-width:768px) {
                display: inline-grid;
                width: 100%;
            }
        }
    }

    .lv2 {
        width: 350px !important;
        background-color: #0097ce !important;
        padding: 10px;
        padding-bottom: 20px;
        overflow: auto;
        max-height: 572px;

        @media (max-width:1199px) {
            width: 200px !important;
            background-color: #535353 !important;
        }

        &:before {
            content: "TOPIC";
            display: block;
            font-size: 20px;
            color: #fff;
            padding: 10px;
        }

        li {
            width: 50%;
            flex: 50%;
            max-width: 50%;
            display: inline-block;
            position: relative;

            @media (max-width:768px) {
                width: 100%;
                flex: 100%;
                max-width: 100%;
            }

            a {
                color: #fff !important;
                display: inline-block !important;
                vertical-align: middle;
                width: 100%;

                &:hover {
                    color: #fcd205 !important;
                    background-color: #0097ce !important;
                }
            }
        }
    }

}

.menu>ul>li .sub-inner li ul a:hover {
    color: #fcd205 !important;
    background-color: #0097ce !important;

}

@media (max-width:1199px) {
    .menu>ul .sub-inner ul.open {
        display: table-cell;
    }
}

.navbar-nav {
    width: 100%;
}

.no-banner {
    .box-utama {
        padding-top: 100px;
    }
}

//END//

//Banner//@at-root
.cx-custombanner {
    .slick-dots li button:before {
        color: rgba(255, 255, 255, 0);
    }
}

//end

//sidebar-cs/@at-root
.cx-sidebar {
    display: inline-block;
    font-size: 16px;
    width: 23%;
    vertical-align: top;
    position: relative !important;
}

//asset full content//@at-root
.asset-full-content {
    .component-title {
        display: none;
    }

    .metadata-author {
        display: none;
    }

    .lfr-icon-menu {
        display: none !important;
    }
}

//end//

// side bar cousrse @at-root
.course-details-wrap {
    .sidebar {
        height: auto !important;
        overflow: initial !important;
    }
}


//Breadcum/@at-root
.cx-title-bread {
    display: inline-table;
    position: absolute;
    padding-left: 15px;

    &:before {
        color: #333;
        content: "\f101";
        background-image: none;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 10px;
        height: auto;
        left: 0;
        margin-top: auto;
        position: absolute;
        top: 20%;
        width: 1rem;
    }

}

.cx-dct {
    display: block;
    padding-bottom: 0px !important;
    margin-top: -100px;

    .course-details-wrap {
        padding: 0px;

        .sidebar {
            height: auto !important;
            overflow: initial !important;
        }
    }
}

.cx-breadcrumb {

    padding-bottom: 30px;

    nav {
        display: inline-block;
    }

    .breadcrumb {
        display: inline;
        width: auto;
        background: none;
        border-radius: 0;
        margin: 0;
        padding: 0;

        list-style-type: none;

        a {
            text-decoration: underline !important;

            &:hover {
                text-decoration: none !important;
            }
        }

        li:last-child {
            display: none;
        }

        .breadcrumb-item {
            display: inline-block;
            font-size: 15px;

            font-weight: 400;
            color: #333;
            line-height: 1.4;

        }

        .breadcrumb-item+.breadcrumb-item {

            padding-left: 15px;

            &:before {
                color: #333;
                content: "\f101";
                background-image: none;
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                font-size: 10px;
                height: auto;
                left: -4px;
                margin-top: 0px !important;
                position: absolute;
                top: 26% !important;
                width: 1rem;
            }
        }

        .active {
            color: #333;
            text-transform: uppercase;
        }

        @media (max-width:425px) {
            font-size: 12px;
        }
    }
}


//End//

.st-home {
    .imgwrap {
        height: 180px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .content {
        .title {
            height: 60px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}


.rc-home {
    .imgwrap {
        height: 180px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        .title {
            height: 60px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}

.la-home {
    .imgwrap {
        height: 180px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        .title {
            height: 60px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}


.courses-filter {
    .imgwrap {
        height: 180px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .box-content {
        padding: 15px;

        .title {
            height: 60px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

        }

        .small-text {
            font-size: .8rem;
            color: #444;

        }

        .price {
            color: #0097CE;
        }
    }

}

//Detail Courses//
.rl-courses {
    display: block;
    position: relative;
    margin-top: -450px;
}

.dt-courses {
    display: block;
    position: relative;
    margin-top: -120px;
}

//End//

//Securty-academy-tabs CMS//
.security-academy {
    .nav-security-academy {
        font-size: 15px;
        font-weight: 900;

        .nav-link {
            padding: 20px 5px;
            border-radius: 0px;
            font-weight: 700;
            white-space: normal !important;
            width: 210px;
            height: 80px;
            padding: 20px 25px !important;

            &.active {
                padding: 20px 25px;
            }
        }
    }

    .tab-content-security-academy {
        border-bottom: 1px solid #d4d4d4;
        border-left: 1px solid #d4d4d4;
        border-right: 1px solid #d4d4d4;
    }

    .desktop-security {
        @media(max-width:767px) {
            display: none;
        }

    }

    .mobile-security {
        display: none;

        @media(max-width:767px) {
            display: block;
        }
    }

    .nav-security-academy-mobile {
        font-size: 20px;

        .card {
            margin: 0px;
        }

        .card-header {
            border: 1px solid #d4d4d4;
            margin: 0px;
        }

        a {
            display: block;
            padding: 20px;
            width: 100%;
            color: #333333;
        }
    }
}

//End//

//healthcare-tabs//
.healthcare-tabs {
    .nav-link {
        background-color: #f1f1f1;
        width: 100%;
        padding: 30px;
        margin-bottom: 20px;
        margin-top: 20px;
        color: #444;
        font-weight: 400;
        border-radius: 0px;
        font-size: 16px;

        &.active {
            background-color: #444;

            &:after {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 0px;
                right: 0px;
                margin: 0 auto;
                z-index: 1;
                width: 0px;
                height: 0px;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #444;
                border-bottom: 0px;

            }
        }
    }
}

//End healthcare-tabs//


//Status//@at-root
.box-status {
    height: 30px;

    .funded {
        background: rgba(0, 153, 206, 0.23);
        padding: 5px 10px;
        color: #0097CE;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        height: 30px;
        line-height: 30px;
        margin-right: 10px;
        min-width: 146px;
        text-align: center;
        text-transform: uppercase;
        vertical-align: top;
    }

    .popular {
        background: #FFCB05;
        padding: 5px 10px;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        height: 30px;
        line-height: 30px;
        margin-right: 10px;
        min-width: 146px;
        text-align: center;
        text-transform: uppercase;
        vertical-align: top;
    }
}

//End//


//Button//@at-root
.tomato {
    text-align: center;
    display: flex;
    position: relative;

    a {
        color: #fff;
        width: 100%;
        padding: 13px 24px 13px 24px;
        font-weight: 600;
        background-color: #f04e2b;
        border-radius: 0;

        &:hover {
            background-color: #ef765b;
        }
    }
}

//Butoon//

//detail Event//
.mt-d-e {
    margin-top: 350px;
}

.fly-top {
    position: fixed;
    width: 100%;
    height: 390px;
    z-index: 109;
    top: 0px;
    left: 0px;
}

//End//

//couser modal//
.btn-all-schedules {
    cursor: pointer;
}

.modal-all-schedules {
    display: none;

    &.active {
        position: fixed;
        width: 100%;
        height: 100%;
        display: block;
        background: rgba(0, 0, 0, 0.66);
        z-index: 999;
        top: 0px;
        left: 0px;

        .cs-container {
            position: relative;

            .box-close {
                background-color: #fff;
                position: absolute;
                margin-top: 11vh;
                right: 20px;
                top: 10px;
                cursor: pointer;
            }

            .box-content {
                width: 100%;
                height: 80vh;
                margin-top: 10vh;
                background-color: #fff;
                overflow-y: auto;
                overflow-x: auto;
                padding: 50px;
                text-align: justify;
            }
        }
    }
}

//end course//


//Acoordion FAQ//
.CX-accordion {
    .noactive {
        display: none;
    }

    .active {
        display: block;
    }
}

//End Accordion FAQ//

//VERTIKAL CMS//
.vertikal-tabs-style-2 {
    background-color: #fff;
    margin: 60px 0;

    .nav-custom {
        width: 100%;
        z-index: 1;

        .nav-link {
            color: #333;
            font-size: 16px;
            font-weight: 700;

            &.active {
                border: 1px solid #d4d4d4;
                border-right: 0px;
                background-color: #fff;
            }
        }
    }

    .col-md-9 {
        border: 1px solid #d4d4d4;
        background-color: #fff;
        margin-left: -2px;
    }
}

//end//

//Upskill//
.upskill {
    background-color: #eeeeee;
    padding: 60px 0px;

    .box-title-upskill {
        text-align: center;

        .title-upskill {
            color: #0097CE;
            //font-family: "Open Sans", \"Open Sans\";
            font-size: 35px;
            font-weight: 700;
            text-transform: none;
        }

        p {
            color: #7A7A7A;
            //font-family: "Open Sans", \"Open Sans\";
            font-size: 18px;
            font-weight: 300;
            padding-bottom: 20px;
        }
    }

    //End
    .box-price {
        background: #fcd020;

        .cx-height {
            height: 400px;

            @media (max-width:769px) {
                height: auto;
            }
        }

        .box-header {
            text-align: center;

            .title {
                color: #4c4c4c;
                //font-family: "Open Sans", \"Open Sans\";
                font-size: 65px;

                @media (max-width:769px) {
                    font-size: 40px;
                }
            }

            .title-price {
                color: #4c4c4c;
                //font-family: "Open Sans", \"Open Sans\";
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 1rem;
                letter-spacing: 2px;
                padding-bottom: 20px;
            }
        }
    }

    //End
    .box-body {
        padding-left: 20%;

        ul {
            list-style-type: none;
        }
    }

    //End
    .box-footer {
        padding-top: 30px;

        padding-bottom: 50px;
        text-align: center;

        .btn-su {
            margin-bottom: 20px;

            a {
                display: inline-block;
                position: relative;
                //font-family: "Open Sans", \"Open Sans\";
                font-size: 15px;
                font-weight: 600;
                fill: #4054b2;
                color: #4054b2;
                background-color: #ffffff;
                border-style: solid;
                border-color: #18355E00;
                border-radius: 50px 50px 50px 50px;
                padding: 17px 50px 17px 50px;
                transition: .5s;

                &:hover {
                    color: #ffffff;
                    background-color: #18355E;
                    border-color: #18355E;
                }
            }
        }

        .btn-si {
            a {
                font-weight: 600;
                fill: #fff;
                color: #fff;
                transition: .5s;

                &:hover {
                    color: #f04e2b;
                }
            }
        }
    }
}

//End-upskill//
//accordion//
.accstyle-2 {
    border: 1px solid #d4d4d4;

    .card-header .btn:before {
        color: #4a4a4a;
        background: #fff;
        padding-left: 10px;
        border-bottom: 0;
    }
}

//
//fragment//
// .btn-primary{
//     background: #18355f !important;
//     border: #fcd205 solid 2px !important;
//     color: #fcd205!important;
//     &:hover{
//     background: #fcd205 !important;
//     color: #fff!important;
//     }
// }
//Fragment//
.benefit-it-academy {
    text-align: center;
    margin-bottom: 60px;

    .title {
        color: #333;
        font-weight: bold;
        font-size: 20px;
        padding: 10px 0;
        padding: 10px 30px;
        height: 80px;
        overflow: auto;
    }

    .desc {
        padding-top: 0px;
        padding-bottom: 30px;
        height: 120px;
        overflow: auto;
    }
}


.sa-small {
    margin-top: 60px;

    .nav-link {
        font-size: 12px;
        width: 145px !important;
    }
}

.btn-secondary-cs {
    font-weight: 600 !important;
    fill: #fff !important;
    color: #fff !important;
    background-color: #f04e2b !important;
    border-radius: 0;
    padding: 13px 24px 13px 24px;
}

.btn-tertiary-cs {
    font-weight: 600 !important;
    fill: #fff !important;
    color: #fff !important;
    background-color: #617CCE !important;
    border-radius: 0;
    padding: 13px 24px 13px 24px;
}


.btn-primary-cs {
    background: #18355f !important;
    border: #fcd205 solid 2px !important;
    color: #fcd205 !important;

    &:hover {
        background: #fcd205 !important;
        color: #fff !important;
    }
}

//Filter Course//@at-root
.filter-price {
    background: #fff !important;
    border: #dedede solid 1px;
    border-radius: 5px;
    box-shadow: none !important;
    color: #4e4e4e !important;
    height: 45px;
    font-size: 15px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 35px;
}

//End filter//


//Bayu Blog//
.lhub-news-in-page-blog {
    .imgwrap {
        img {
            min-height: 150px;
            object-fit: cover;
            border-radius: 20px;
        }
    }

    .descripts {
        height: 250px;

        h3 {
            height: 80px;
        }

        p {
            height: 90px;
            display: block;
            overflow: auto;
        }
    }
}

.stories-in-page-blog {
    .imgwrap {
        img {
            min-height: 150px;
            object-fit: cover;
            border-radius: 20px;
        }
    }

    .descripts {
        height: 250px;

        h3 {
            height: 80px;
        }

        p {
            height: 90px;
            display: block;
            overflow: auto;
        }
    }
}

.section-for-leaders {
    .imgwrap {
        img {
            min-height: 180px;
            object-fit: cover;
        }
    }

    .descripts {
        height: 180px;

        h3 {
            height: 60px;
        }

        p {
            height: 90px;
            display: block;
            overflow: auto;
        }
    }
}

.section-for-business-leaders {
    .imgwrap {
        img {
            min-height: 180px;
            object-fit: cover;
        }
    }

    .descripts {
        height: 180px;

        h3 {
            height: 60px;
        }

        p {
            height: 90px;
            display: block;
            overflow: auto;
        }
    }
}


.listing-lhub-news {
    .imgwrap {
        img {
            min-height: 180px;
            object-fit: cover;
        }
    }

    .descripts {
        height: 250px;

        h3 {
            height: 90px;
        }

        p {
            height: 90px;
            display: block;
            overflow: auto;
        }
    }
}

.listing-stories {
    .imgwrap {
        img {
            min-height: 150px;
            object-fit: cover;
        }
    }

    .descripts {
        height: 250px;

        h3 {
            height: 90px;
        }

        p {
            height: 90px;
            display: block;
            overflow: auto;
        }
    }
}

.listing-for-learners {
    .imgwrap {
        img {
            min-height: 150px;
            object-fit: cover;
        }
    }

    .descripts {
        height: 250px;

        h3 {
            height: 90px;
        }

        p {
            height: 90px;
            display: block;
            overflow: auto;
        }
    }
}

.listing-for-business-leaders {
    .imgwrap {
        img {
            min-height: 150px;
            object-fit: cover;
        }
    }

    .descripts {
        height: 250px;

        h3 {
            height: 90px;
        }

        p {
            height: 90px;
            display: block;
            overflow: auto;
        }
    }
}

.listing-most-popular {
    .imgwrap {
        img {
            min-height: 150px;
            object-fit: cover;
        }
    }

    .descripts {
        height: 250px;

        h3 {
            height: 90px;
        }

        p {
            height: 90px;
            display: block;
            overflow: auto;
        }
    }
}

//End Bayu Blog//



//Header//@at-root
.header-menu {
    .dropbtn {
        //background-color: #04AA6D;
        color: white;
        //padding: 16px;    
        padding: 0 7px;
        font-size: 16px;
        border: none;
        cursor: pointer;

        &:hover {
            color: #fcd205 !important;
        }
    }

    .sub-menu {
        &:after {
            content: "\f107";
            display: inline-block;
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-size: 9px;
            line-height: 1;
            margin-left: 5px;
            margin-top: 19px;
            vertical-align: top;

            @media (max-width:768px) {
                margin-top: 8px;
            }
        }
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

        a {
            background: #fff;
            border-bottom: #e8e8e8 solid 1px;
            color: #333 !important;
            display: block;
            font-size: 14px;
            line-height: normal;
            padding: 10px 15px;

            &:hover {
                //background-color: #ddd;
                color: #0097ce !important;
            }
        }
    }

    .dropdown:hover {
        .dropdown-content {
            display: block;
        }

        .dropbtn {
            //background-color: #3e8e41;
        }
    }
}

.link-wrap {
    .portlet-journal-content.portlet-barebone .portlet .portlet-header {
        margin-bottom: 0;
        position: absolute;
        right: 2px;
        top: 2px;
        border: 1px solid none;
        z-index: 1;
        height: 0px;
    }
}

//End//


.block-content {
    padding: 150px 0;
    background: #404040;

    h4 {
        color: #fff;
        font-size: 45px;
        font-weight: 600;
    }

    .elementor-heading-title2 {
        color: #fff;
        font-size: 15px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}

.survey-oracle {
    background-color: #f4f4f4;
    padding: 80px 0;
    background: #f4f4f4;
    font-size: 14pt;
    color: #646363;
    text-align: center;

    .title {
        line-height: 1;
        color: #f80000;
        font-size: 85px;
        font-weight: 100;
        margin-bottom: 40px;
    }

    .abstrak {
        font-size: 16px;
        color: #646363;
    }
}

//enjoy-benefit
.enjoy-benefit {
    margin-top: 60px;
    background-color: #000;
    padding: 20px;

    .elementor-heading-title {
        padding-bottom: 30px;
        color: #fff;
        font-size: 50px;
        font-weight: 600;
    }

    .btn-1 {
        margin-top: 2rem;
    }
}

//Get-out
.oracle-private {
    padding: 50px 0;
    background: #f4f4f4;
    color: #000;

    .elementor-heading-title {
        color: #e50000;
        font-size: 25px;
        font-weight: 600;
    }
}

.get-connect {
    padding: 150px 0;
    background-color: #000;
    color: #fff;

    .elementor-heading-title {
        color: #fff;
        font-size: 45px;
        font-weight: 600;
        padding: 5px 0;
    }

    .elementor-heading-title2 {
        color: #fff;
        font-size: 15px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 5px 0;
    }

    p {
        margin: 0 auto 30px;
        font-size: 20px;
        color: #fff;
        line-height: 1.3;
    }
}

///@at-root
.certified {
    .title {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .box-certified {
        margin-bottom: 2.5rem;

        .title-day {
            font-size: 14px;
            margin-bottom: 1rem;
        }

        .title-certified {
            font-size: 20px;
            color: #e0612f;
            text-decoration: none;
            margin-bottom: .5rem;
        }

        a {
            color: #e0612f;
            text-decoration: none;
        }
    }
}

//@at-root
.data-protection {
    .title {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
    }

    .box-data {
        margin-bottom: 2.5rem;

        .title-data {
            font-size: 1.6rem;
            margin-bottom: .5rem;
            font-weight: 500;
            line-height: 1.2;

            a {
                color: #e0612f;
            }
        }

        .title-day {
            font-size: 14px;
            margin-bottom: 1rem;
            margin-top: 5px;
            font-weight: 600;
        }

        .title-abstrak {
            font-size: 20px;
            margin-bottom: .5rem;
            font-weight: 500;
            line-height: 1.2;

            a {
                color: #e0612f;
            }
        }
    }
}

//end//

//Day course
.day-course {
    margin-top: 3rem;

    .box-day-course {
        margin-bottom: 2.5rem;

        .title-day {
            font-size: 14px;
            margin-bottom: 1rem;
            margin-top: 5px;
        }

        .title {
            font-size: 1.6rem;
            margin-bottom: .5rem;
            font-weight: 500;
            line-height: 1.2;
        }
    }
}

//end

//TTAT
.ttat {
    //margin-top: 3rem;

    .ps-flex {
        width: 100%;
        position: relative;
        display: flex;
        margin-top: 2rem;
        //margin-bottom: 3rem;

        @media(max-width:769px) {
            display: block;
        }

        .box-day-course-thumb {
            width: 50%;

            @media(max-width:769px) {
                width: 100%;
            }

            img {
                padding-left: 0px;
                padding-right: 20px;

                @media(max-width:769px) {
                    padding-right: 0px;
                }
            }

            &.right {
                order: 2;

                img {
                    padding-left: 20px;
                    padding-right: 0px;

                    @media(max-width:769px) {
                        padding-left: 0px;
                    }
                }
            }
        }

        .box-day-course {
            width: 50%;
            margin-bottom: 2.5rem;

            @media(max-width:769px) {
                width: 100%;
            }

            .title-day {
                font-size: 14px;
                margin-bottom: 1rem;
                margin-top: 5px;
            }

            .title {
                font-size: 1.6rem;
                margin-bottom: .5rem;
                font-weight: 500;
                line-height: 1.2;
            }
        }
    }

}

.ttat-orange {
    .title {
        a {
            color: #ffb200;
            font-size: 20px;
        }
    }

    .link {
        a {
            color: #ffb200;
        }
    }
}

//end

//@at-root
.end-users-empowered {
    .title {
        width: 100%;
        font-size: 40px;
        color: #000;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .icon {
        text-align: center;
        font-size: 30px;
        color: #000;
    }

    .title-abstrak {
        font-size: 25px;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .p-abstrak {
        color: #bfbfbf;
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 2rem;
    }
}

//emd//

//@at-root
.implementors {
    background-color: #000;
    padding: 60px 30px;
    margin-top: 5rem;
    color: #fff;

    .title {
        width: 100%;
        font-size: 40px;
        color: #fff;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .title-abstrak {
        margin-bottom: .5rem;
        font-weight: 500;
        font-size: 25px;
    }

    .icon {
        text-align: center;
        font-size: 35px;
        color: #fff;
    }
}

//end//

//@at-root
.rpa-p-t {
    .title {
        width: 100%;
        font-size: 40px;
        color: #000;
        font-weight: 700;
        margin-bottom: 10px;
        text-align: center;
    }

    .abstrak {
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 2rem;
        text-align: center;
        width: 100%;
    }

    .title-abstrak {
        width: 100%;
        position: relative;
        display: block;
        font-weight: 600;
        font-size: 21px;
        line-height: 1.2;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    .col-md-auto {
        margin-top: 1rem;

        a {
            display: block;
            padding: 30px 40px;
            width: 100%;
            margin-right: 20px;
            border-radius: 10px;
            color: #fff;
            font-weight: 600;
        }
    }
}

//end//
//@root//
.course-summary {
    background-color: #02A0D1;
    padding: 2rem 3rem;

    @media (max-width:769px) {
        padding: 2rem 1rem;
    }

    .title {
        width: 100%;
        font-size: 70px;
        text-align: center;
        color: #fff;
        font-weight: 700;
        margin-bottom: 3rem;

        @media (max-width:769px) {
            font-size: 2rem;
        }
    }

    .title-abstrak {
        font-size: 2.5rem;
        width: 100%;
        display: block;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1rem;
        margin-top: 1.5rem;

        @media (max-width:769px) {
            font-size: 1.8rem;
        }
    }

    .abstrak {
        display: block;
        width: 100%;
        color: #fff;
    }

    .link {
        a {
            color: #fff;

            &:hover {
                color: #eee;
                font-weight: bold;
            }
        }
    }

    .no-link {
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 2rem;
        display: block;
        width: 100%;
    }
}

//end//


//@at-root
.tablesorter {
    .table-header {
        th {
            color: #fff;
            background-color: #707070 !important;
            padding: 20px 15px;
            font-size: 16px;
            font-weight: 600;
            font-family: "Montserrat", "sans-serif";
            line-height: 1;
            color: #fff;
            border-color: #000;
            border-width: 2px;
            border-style: none;
            background-clip: padding-box;
        }

    }

    td {
        padding: 20px 15px;
        font-size: 14px;
        font-family: "Montserrat", "sans-serif";
        line-height: 1;
        border-width: 2px;
        border-style: none;
        background-clip: padding-box;
    }

    tr {
        color: #6d7882;
        background: #EAE8E8;
    }

    tr:nth-of-type(odd) {
        color: #6d7882;
        background: #fff;
    }
}

//@at-root
.icons-big-bg {
    background-color: #004e74;
    color: #fff;
    text-align: center;
    padding: 60px 0;

    .icon-circle {
        margin-bottom: 1rem;

        i {
            border: 2px solid #fff;
            padding: 20px;
            border-radius: 50%;
            font-size: 70px;
            height: 150px;
            width: 150px;
        }
    }

    .title {
        font-weight: 600;
        font-size: 1.75rem;

    }
}

//end//
//add postion original on-wp//
.gotop {
    margin-bottom: 90px;
    margin-right: 22px;
}

//end//

//Paralax//

.enjoy-great-savings {
    &.paralax {
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .title {
        text-align: center;
        margin-top: 3rem;
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
    }

    .abstrak {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
        color: #fff;
    }

    .content {
        padding: 0 6rem 6rem;

        @media(max-width:767px) {
            padding: 0 1rem 1rem;
            display: inline-grid;
            position: relative;
        }
    }
}

//end//

//@at-root
.section-location {
    background-color: #f2f2f2;
    white-space: 100%;
    padding: 2rem;

    .title-location {
        font-weight: 500;
        line-height: 1.2;
        font-size: 16px;
        margin: 0 0 10px;
    }

    .detail-location {
        margin-bottom: 1rem;
    }

    .map {
        margin-bottom: 1rem;
        display: flex;

        i {
            color: #0097ce;
            margin-right: 10px;
            font-size: 16px;
        }
    }

    .trainig-location {
        margin-bottom: 1rem;
    }

    .operating {
        margin-bottom: 1rem;

        .working-hours {
            margin-bottom: 1rem;
            margin-top: .8rem;
            display: flex;

            i {
                color: #0097ce;
                margin-right: 10px;
                font-size: 16px;
            }
        }

        .day-off {
            margin-bottom: 1rem;
            display: flex;

            i {
                color: #0097ce;
                margin-right: 10px;
                font-size: 16px;
            }
        }
    }

    .nearest-mrt {
        margin-bottom: 1rem;
        display: flex;

        i {
            color: #0097ce;
            margin-right: 10px;
            font-size: 16px;
        }
    }

    .buses-available {
        margin-bottom: 1rem;
        display: flex;

        i {
            color: #0097ce;
            margin-right: 10px;
            font-size: 16px;
        }
    }

    .note-up {
        margin-bottom: 1rem;
    }

    .link-map {
        margin-bottom: 1rem;
    }

    .link-facilities {
        margin-bottom: 1rem;
    }

    .note-down {
        margin-bottom: 1rem;
    }
}

//end location//

.white-mode {
    background-color: #ffff;
    margin-top: 3rem;
    padding-bottom: 2rem;

    @media(max-width:767px) {
        padding-bottom: 0rem;
    }

    .sly-wrap {
        width: 50%;
        position: absolute;
        z-index: 3;

        @media(max-width:767px) {
            width: 100%;
            position: relative;
        }
    }
}

.fly-box-date {
    position: absolute;
    top: -2rem;
    right: 10%;
    width: 15%;

    @media(max-width:767px) {
        width: 100%;
        position: relative;
        display: block;
        z-index: 3;
        top: 0rem;
        margin-bottom: 2rem;
        right: 10%;
    }
}

//end//
//tabs nav//
.event-tabs {
    ul {
        margin: 0 !important;
        display: inline-table;
        width: 100% !important;

        li {
            display: inline-block;
            width: auto;

        }
    }
    .scrollbar{
        display: contents !important;
    }
}

//end//

//Notifications//
#portlet_com_liferay_notifications_web_portlet_NotificationsPortlet{
    margin:10rem 1rem 10rem 1rem;
    
}
//End//