.ntuc-social-enquiry-web {
	padding: 20px;
	display: block !important;
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.passster-form {
	background: #F9F9F9;
	padding: 10px;
	margin: 0px;
}
.passster-form h4 {
	font-size: 20px;
	font-weight: 700;
	color: #4998b3;
}
.passster-form p {
	font-size: 14px;
	font-weight: 400;
	color: #000000;
}
.passster-form .error {
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
	background: #CC4C43;
}
.passster-form .passster-submit {
	color: #FFFFFF;
	background: #4998b3;
	margin-top: 5px;
	width: 100%;
	padding: 10px;
	font-size: 15px;
	cursor: pointer;
	border: none;
}

.passster-form .passster-submit:hover {
	color: #FFFFFF;
	background: #aa1100;
}

.passster-form #passster_password {
	width: 100%;
	border: 1px solid #ccc;
	background: #fff;
	margin: 0 0 5px;
	padding: 10px;
}

#passter-error {
	width: 100%;
	text-align: center;
	float: left;
	padding: 10px;
	margin-top: 5px;
	background: #e95353;
	color: #fff;
	display: none;
}